<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Сверка по платежам</title>

        <!-- Vendors -->

        <!-- Material Design Icons -->
        <link href="{{ url_for('static', filename='vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css') }}" rel="stylesheet">

        <!-- Select 2 -->
        <link href="{{ url_for('static', filename='vendors/bower_components/select2/dist/css/select2.min.css') }}" rel="stylesheet">

        <!-- Site CSS -->
        <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">

    </head>
<body>

<div class="tab">
    <ul class="tab-nav tab-nav--justified">
        <li class="{{'active' if analyse_active else ''}}">
            <a href="#analyse" data-toggle="tab">
                Analyse
            </a>
        </li>
        <li class="{{'active' if history_active else ''}}">
            <a href="#history" data-toggle="tab">
                History
            </a>
        </li>
        <li>
            <a href="{{ url_for('profile') }}" class="btn--light" style="width: 20%; margin-left: 50%">
                Profile
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane card {{'active' if analyse_active else ''}}" id="analyse">
            <div class="card__body">
                <form  method="post" action="{{ url_for('analyse') }}">
                    <div class="form-group">
                        <div class="input-group" style="margin-left: 15%; margin-top: 20px">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-calendar"></i>
                            </span>
                            <div class="form-group">
                                <input
                                        type='date' class="form-control"
                                        name="date_from" required
                                        value="{{request.form.date_from}}"
                                        min="2000-01-01" max="2018-12-31"
                                />
                                <i class="form-group__bar"></i>
                            </div>
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-calendar"></i>
                            </span>
                            <div class="form-group">
                                <input
                                        type='date' class="form-control"
                                        name="date_to" required
                                        value="{{request.form.date_to}}"
                                        min="2000-01-01" max="2018-12-31"
                                />
                                <i class="form-group__bar"></i>
                            </div>
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-card"></i>
                            </span>
                            <div>
                                <select class="select2" multiple data-placeholder="Select Payment System" name="payment_systems">
                                    <option value="kaspi" {{ 'selected' if 'kaspi' in request.form.getlist('payment_systems') else '' }}> Kaspi</option>
                                    <option value="processing" {{ 'selected' if 'processing' in request.form.getlist('payment_systems') else '' }}>Processing</option>
                                    <option value="rps" {{ 'selected' if 'rps' in request.form.getlist('payment_systems') else '' }}> RPS</option>
                                    <option value="qazkom" {{ 'selected' if 'qazkom' in request.form.getlist('payment_systems') else '' }}> QAZKOM</option>
                                    <option value="qiwi" {{ 'selected' if 'qiwi' in request.form.getlist('payment_systems') else '' }}> Qiwi</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="select2" data-minimum-results-for-search="Infinity" name="company">
                                    <option value="chocotravel" {{ 'selected' if 'chocotravel' == request.form.get('company') else '' }}>ChocoTravel</option>
                                    <option value="chocolife" {{ 'selected' if 'chocolife' == request.form.get('company') else '' }}>ChocoLife</option>
                                    <option value="chocofood" {{ 'selected' if 'chocofood' == request.form.get('company') else '' }}>ChocoFood</option>
                                    <option value="rahmet" {{ 'selected' if 'rahmet' == request.form.get('company') else '' }}>Rahmet</option>
                                </select>
                            </div>
                        </div>
                        <div style="margin-top: 15px; margin-left: 45%">
                            <button class="btn btn--light btn--icon-text" name="action" value="analyse" type="submit"><i class="zmdi zmdi-flip"></i>Analyse</button>
                        </div>
                        <div class="btn-group" style="margin-top: 15px; margin-left: 40%; {{'display:none' if hide_navigation else ''}}">
                            <button class="btn btn--light btn--icon-text" name="action" value="back" type="submit" {{'disabled' if back_disable else ''}}><i class="zmdi zmdi-arrow-back"></i>Back</button>
                            <button class="btn btn--light btn--icon-text" name="action" value="export" type="submit"><i class="zmdi zmdi-archive"></i>Export</button>
                            <button class="btn btn--light btn--icon-text" name="action" value="forward" type="submit" {{'disabled' if forward_disable else ''}}>Next <i class="zmdi zmdi-arrow-forward"></i></button>
                            <br><br><br>
                            <p style="margin-left: 30%">
                                Stage: {{current_stage}} of  {{max_stage}}
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="tab-pane {{'active' if history_active else ''}}" id="history">
            <div class="card">
                <div class="card__body">
                    <form method="post" class="row" action="{{ url_for('analyse') }}">
                        <div class="input-group" style="margin-left: 47.5%;">
                            <div class="input-group">
                                <select class="select2" data-minimum-results-for-search="Infinity" name="company_history">
                                    <option value="chocotravel" {{ 'selected' if 'chocotravel' == request.form.get('company_history') else '' }}>ChocoTravel</option>
                                    <option value="chocolife" {{ 'selected' if 'chocolife' == request.form.get('company_history') else '' }}>ChocoLife</option>
                                    <option value="chocofood" {{ 'selected' if 'chocofood' == request.form.get('company_history') else '' }}>ChocoFood</option>
                                    <option value="rahmet" {{ 'selected' if 'rahmet' == request.form.get('company_history') else '' }}>Rahmet</option>
                                </select>
                            </div>


                            <div class="radio">
                                <label>
                                    <input type="radio" name="key" value="order_id" required {{ 'checked' if request.form.get('key') == 'order_id' else '' }}>
                                    <i class="input-helper"></i>
                                    Order ID
                                </label>
                            </div>

                            <div class="radio">
                                <label>
                                    <input type="radio" name="key" value="payment_reference" {{ 'checked' if request.form.get('key') == 'payment_reference' else '' }}>
                                    <i class="input-helper"></i>
                                    Payment Reference
                                </label>
                            </div>


                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="zmdi zmdi-edit"></i>
                                </span>
                                <div class="form-group">
                                    <input type="text" name="value" class="form-control" required value="{{ request.form.get('value') }}">
                                    <i class="form-group__bar"></i>
                                </div>
                            </div>
                        </div>
                        <div style="margin-top: 15px; margin-left: 50%">
                            <button type="submit" name="action" value="history" class="btn btn--light btn--icon-text"><i class="zmdi zmdi-search"></i> Search history</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card__body">
        <div class="table-responsive">
            <form method="post" action="{{ url_for('analyse') }}">
                <table id="data-table-command" class="table-bordered table-hover">
                    <thead>
                    <tr>
                        <th data-column-id="date">date</th>
                        <th data-column-id="order_id">order_id</th>
                        <th data-column-id="payment_amount">payment_amount</th>
                        <th data-column-id="payment_type">payment_type</th>
                        <th data-column-id="payment_reference">payment_reference</th>
                        <th data-column-id="status">status</th>
                        <th data-column-id="error_type">error_type</th>
                        <th data-column-id="difference">difference</th>
                        <th data-column-id="date_analysed">date_analysed</th>
                        <th data-column-id="commands">commands</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in rows %}
                        <tr>
                            <td>{{row['date']}}</td>
                            <td>{{row['order_id']}}</td>
                            <td>{{row['payment_amount']}}</td>
                            <td>{{row['payment_type']}}</td>
                            <td>{{row['payment_reference']}}</td>
                            <td>{{row['status']}}</td>
                            <td>{{'Упущение компании' if row['error_type'] == 1 else ''}}{{'Упущение ПС' if row['error_type'] == 2 else ''}}{{'Различная сумма' if row['error_type'] == 3 else ''}}</td>
                            <td>{{row['difference']}}</td>
                            <td>{{row['date_analysed']}}</td>
                            <td>
                                <script>
                                    <button {{'disabled' if row['order_id'] in problems else ''}} type="submit" class="{{'btn btn-warning' if row['order_id'] in problems else 'btn btn-success'}}" name="appoint" value="{{row['order_id']}}">
                                        Appoint
                                    </button>
                                </script>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

 <!-- Javascript Libraries -->

<!-- jQuery -->
<script src="{{ url_for('static', filename='vendors/bower_components/jquery/dist/jquery.js')}}"></script>

<!-- Bootstrap -->
<script src="{{ url_for('static', filename='vendors/bower_components/bootstrap/dist/js/bootstrap.js')}}"></script>

<!-- Select 2 -->
<script src="{{ url_for('static', filename='vendors/bower_components/select2/dist/js/select2.full.js')}}"></script>

<script src="{{ url_for('static', filename='demo/js/data-table.js')}}"></script>

<script src="{{ url_for('static', filename='vendors/bower_components/jquery.bootgrid/dist/jquery.bootgrid.js')}}"></script>

<script src="{{ url_for('static', filename='vendors/bower_components/twitter-bootstrap-wizard/jquery.bootstrap.wizard.js')}}"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('select.select2').select2({
            dropdownAutoWidth: false,
            width: '250px',
        });});
</script>
</body>
</html>