<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TABLE</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/typedate.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
</head>

<body>
<div class="container">
    <form action="{{ url_for('submit') }}" method="post" class="was-validated">
        <div align="center">
        <div class="parent">
            <div>
                <input type="date" id="start" name="date_from" required
                       value="{{request.form.date_from}}"
                       min="2000-01-01" max="2018-12-31" />
            </div>

            <div>
                <input type="date" id="start" name="date_to" required
                       value="{{request.form.date_to}}"
                       min="2000-01-01" max="2018-12-31" />
            </div>

            <div class="multiselect">
                <div class="selectBox" onclick="showCheckboxes()">
                    <select style="height: 26px">
                        <option>Select payment system</option>
                    </select>
                    <div class="overSelect"></div>
                </div>
                <div id="checkboxes" style="background-color: white">
                    <label for="kaspi">
                        <input type="checkbox" id="kaspi" name="kaspi" {{ 'checked' if request.form.get('kaspi') else '' }}/>Kaspi</label>
                    <label for="processing">
                        <input type="checkbox" id="processing" name="processing" {{ 'checked' if request.form.get('processing') else '' }}/>Processing</label>
                </div>
            </div>


            <div><button class="button button2"  name="action" value="analyse" type="submit" >Analyse</button></div>
        </div>
    </div>
<div align="center" style="{{ 'display:none' if hide_navigation else '' }}">
        <p>
            stage: {{current_stage}} of  {{max_stage}}
        </p>
        <button class="btn-save btn btn-primary btn-sm" name="action" value="previous" type="submit" {{ 'disabled' if previous_disable else '' }} >previous</button>
        <button class="btn-save btn btn-primary btn-sm" name="action" value="next" type="submit" {{ 'disabled' if next_disable else '' }} >next</button>
        <br><br><br>
        <button class="btn-save btn btn-primary btn-sm" name="action" value="export" type="submit" >Export to Excel</button>
        <br>
</div>
    </form>
<div align="center" style="margin-top: 10px">
    <button class="toggle-vis" data-column="0" href="#">Date</button>
    <button class="toggle-vis" data-column="1" href="#">Date Created</button>
    <button class="toggle-vis" data-column="2" href="#">Order ID</button>
    <button class="toggle-vis" data-column="3" href="#">Payment Amount</button>
    <button class="toggle-vis" data-column="4" href="#">Payment Type</button>
    <button class="toggle-vis" data-column="5" href="#">Payment Reference</button>
    <button class="toggle-vis" data-column="6" href="#">Status</button>
    <button class="toggle-vis" data-column="7" href="#">Error Type</button>
    <button class="toggle-vis" data-column="8" href="#">Differece</button>
</div>

    <div class="container-fluid">
        <div class="col-md-auto">
            <table id="example" class="table table-compact table-bordered table-hover" style="width:100%" cellpadding="0">
                <thead>
                <tr>
                    <th data-column-id="date">Date</th>
                    <th data-column-id="date_created">Date Created</th>
                    <th data-column-id="order_id">Order ID</th>
                    <th data-column-id="payment_amount">Payment Amount</th>
                    <th data-column-id="payment_type">Payment Type</th>
                    <th data-column-id="payment_reference">Payment Reference</th>
                    <th data-column-id="status">Status</th>
                    <th data-column-id="error_type">Error Type</th>
                    <th data-column-id="difference">Difference</th>
                </tr>
                </thead>
                <tbody>
                {% for row in rows %}
                    <tr>
                        <td>{{row['date']}}</td>
                        <td>{{row['date_created']}}</td>
                        <td>{{row['order_id']}}</td>
                        <td>{{row['payment_amount']}}</td>
                        <td>{{row['payment_type']}}</td>
                        <td class="nowrap">{{row['payment_reference']}}</td>
                        <td>{{row['status']}}</td>
                        <td>{{row['error_type']}}</td>
                        <td>{{row['difference']}}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>date</th>
                    <th>date_created</th>
                    <th>order_id</th>
                    <th>payment_amount</th>
                    <th>payment_type</th>
                    <th>payment_reference</th>
                    <th>status</th>
                    <th>error_type</th>
                    <th>difference</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#example tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="'+title+'" />' );
    } );

    // DataTable
    var table = $('#example').DataTable();

    $('button.toggle-vis').on('click', function (event) {
        event.preventDefault();
       
        var column = table.column( $(this).attr('data-column') );

        column.visible( ! column.visible() );
    });

    // Apply the search
    table.columns().every( function () {

        var that = this;
        $( 'input', this.footer() ).on( 'keyup change', function () {
            if ( that.search() !== this.value ) {
                that
                    .search( this.value )
                    .draw();
            }
        } );
    } );
} );
</script>
<script type="text/javascript">
    var expanded = false;

    function showCheckboxes() {
        var checkboxes = document.getElementById("checkboxes");
        if (!expanded) {
            checkboxes.style.display = "block";
            expanded = true;
        } else {
            checkboxes.style.display = "none";
            expanded = false;
  }
}
</script>
</body>
</html>